@font-face {
  font-family: "Geist";
  src: url("/public/fonts/GeistMono-1.3.0/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Geist", monospace;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aqua;
  text-align: center;
  border: 4px solid black;
  margin: 20px 20px;
}
.homeContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: blueviolet;
  gap: 20px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}
