@font-face {
  font-family: "Geist";
  src: url("/public/fonts/GeistMono-1.3.0/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Geist", monospace;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aqua;
  /* text-align: center; */
  border: 4px solid black;
  margin: 20px 20px;
}
.homeContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: blueviolet;
  gap: 20px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

img {
  height: 3rem;
  width: 3rem;
}

.keepLogo {
  display: flex;
  justify-content: flex-start;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

input[type="search"] {
  border-radius: 8px;
}

input.search {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("./assets/icons/search.svg") no-repeat 13px;
}

.refListSetContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.appsProfileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
